* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.top {
  height: 1024px;
  background-image: url(Images/backgroundSKY.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.top__content {
  padding-top: 217px;
}
.top__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
}
.top__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 32px;
}

.top__button {
  width: 234px;
  height: 48px;
  background: #9c0332;
  box-sizing: border-box;
  border-radius: 30px;
  margin-top: 44px;
}
.button__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.text-bold {
  font-weight: bold;
}
.nav-game {
  height: 556px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  background: #000915;
}
.nav__item {
  grid-column: span 4;
  height: 300px;
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 32px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  margin-top: 128px;
  margin-bottom: 128px;
}
.nav__item_1 {
  background-image: url(Images/game1.jpg);
}
.nav__item_2 {
  background-image: url(Images/game2.jpg);
}
.nav__item_3 {
  background-image: url(Images/game3.jpg);
}
.nav__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: #ffffff;
}
