* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.top {
  height: 1024px;
  background-image: url(Images/backgroundSKY.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top__content {
  padding-top: 217px;
}

.top__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
}

.top__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 32px;
}

.top__button {
  width: 234px;
  height: 48px;
  background: #9c0332;
  box-sizing: border-box;
  border-radius: 30px;
  margin-top: 44px;
}

.button__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.text-bold {
  font-weight: bold;
}

.nav-game {
  height: auto;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  background: #000915;
  padding-top: 128px;
  padding-bottom: 128px;
}

.nav__item {
  grid-column: span 4;
  height: 300px;
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 32px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
}

.nav__item_1 {
  background-image: url(Images/game1.jpg);
  background-repeat: no-repeat;
}

.nav__item_2 {
  background-image: url(Images/game2.jpg);
  background-repeat: no-repeat;
}

.nav__item_3 {
  background-image: url(Images/game3.jpg);
  background-repeat: no-repeat;
}

.nav__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: #ffffff;
}

.footer {
  background-color: #000915;
}
.footer__content {
  display: flex;
  gap: 135px;
  padding-bottom: 233px;
  padding-top: 233px;
}
.footer__title {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}

.footer__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.footer__form {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.footer__button {
  width: 234px;
  height: 48px;
  background: #9c0332;
  box-sizing: border-box;
  border-radius: 30px;
}

.footer__image {
  width: 485px;
  height: 333px;
}

.nav__item:hover {
  border: 3px solid #44d2ff;
}

.top__button:hover {
  background: #eb443f;
  border-radius: 30px;
}

.footer__button:hover {
  background: #eb443f;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background-image: url(Images/backgroundSKY.jpg);
    background-size: cover;
    background-position-x: 31%;
    background-repeat: no-repeat;
  }
  .text__break {
    display: none;
  }
  .top__content {
    padding-top: 238px;
  }
  .top__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .top__button {
    width: 234px;
    height: 48px;
    margin-top: 32px;
  }
  .button__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  .top__form {
    display: flex;
    justify-content: center;
  }
  .nav-game {
    display: grid;
  }
  .nav__item {
    grid-column: span 12;
    width: 343px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .footer__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }
  .footer__content {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__image {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */